<h1 style="color:#0000ff;">なかむらけいごしょうご</h1>
<hr/>
{{req.method}}<br/>
{{req.url}}<br/>
{{req.host_url}}<br/>
{{req.scheme}}<br/>
{{req.host}}<br/>
{{req.path}}<br/>
{{req.query_string}}<br/>
<hr/>
{{req.args}}<br/>
<hr/>
{{req.form}}<br/>
<hr/>
{{req.accept_charsets}}<br/>
{{req.accept_encodings}}<br/>
{{req.accept_languages}}<br/>
{{req.accept_mimetypes}}<br/>
{{req.remote_addr}}<br/>
{{req.remote_user}}<br/>
<hr/>
{{req.date}}<br/>
{{req.content_type}}<br/>
{{req.referrer}}<br/>
{{req.get_data()}}<br/>
<hr/>
{{req.headers}}<br/>
<hr/>
{{request.environ}}<br/>
<hr/>
